.banner-area {
	background: url(../images/banner-bg.jpg) center no-repeat;
	background-size: cover;
    position: relative;
    height: 500px;
    .banner-content {
        padding-left: 10px;
        margin-top: 160px;
        color: $primary-color1;
		h1 {
			font-size: 60px;
			line-height: 66px;
			font-weight: 700;
            margin-bottom: 30px;
            text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
		}
		p {
            margin: 0;
            color: $primary-color1;
            text-shadow: 3px 3px rgba(255, 255, 255, 0.1);
            font-size: 23px;
            line-height: 30px;
        }
        a {
            margin-top: 20px;
            text-decoration: none;
        }
    }
}
.subpage-front {
    height: 350px;
    .subpage-banner {
        margin-top: 190px;
    }
}